* {
    box-sizing: border-box;
    padding: 0;
    margin :0;
}

body {
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    height: 100vh;

}

#time {
    font-size: 8em;
}

h1 {
    font-size: 4em;
    margin-bottom:4px;
}


h2 {
    font-size: 3em;
    opacity: 0.6;
}